.about {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Fullscreen Video Background */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}
.intro{
    color: black;
    margin: 0 10%;
     font-weight: bold;
}
.into {
  margin: 15px 0;
}

.into p {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
  
}

/* Animated HR line */
.animated-line {
  height: 6px;
  border: none;
  background: #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

/* Inside fill */
.animated-line::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 0%;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  border-radius: inherit;
  animation: fill 2s forwards;
}

/* Animation keyframe */
@keyframes fill {
  from {
    width:0% ;
  }
  to {
    width: var(--percent);
  }
}

.hover-card {
  width: 260px;
  padding: 15px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 6px 25px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-10px) scale(1.05);
}

/* Page fade + slide animation */
.page-animate {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeSlide 1s ease forwards;
}

/* Animation keyframes */
@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Optional: delay and smooth hover cards */
.hover-card {
  background: linear-gradient(135deg, #0000004c, #ffffff);
  border-radius: 12px;
  transition: transform 0.3s ease,
  background 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-8px) scale(1.03);
  background: white;
}

@media (max-width: 850px) {

  .ab{
    margin-top: 180px;
  }
}

@media (max-width: 410px) {
  .cad{
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 10px 0;
  margin: 0 50%;
  }
  .hover-card {
  min-width: 250px;
  flex: 0 0 auto;
}

}

