.contact {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Fullscreen Video Background */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.bt{
    text-decoration: none !important;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.bt:hover{
    background: linear-gradient(135deg, #ff416c, #4e2bff);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

@media (min-width: 510px) {
  .allin {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;      
    gap: 30px;
    margin: 0 10%;         
    overflow: visible;    
  }}

