.navigation {
  position: fixed; /* stays at top */
  top: 0;
  left: 0;
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: rgb(0, 0, 0);
  z-index: 10; /* stays above video */
  
}

.navigation img {
  border-radius: 50%;
}

.lists {
  list-style: none;
  display: flex;
  gap: 20px;
}

.lists li  a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 600;
}

.lists li a:hover {
  color: #ff4b4b;
}

button {
  text-decoration: none !important;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

button:hover {
  background: linear-gradient(135deg, #ff416c, #4e2bff);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.slide-btn {
  margin: 60px 20px;
  font-size: 8px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;
  background-color: #ffffff;
}

.link-mob{
  display: none;
}


@media (max-width: 850px) {
  .lists {
    display: none !important; 
  }

  .navigation button:not(.slide-btn) {
    display: none !important; 
  }

  .slide-btn {
    display: block !important; 
  }

  .link-mob{
    position: absolute;
    display: block;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
    list-style: none;
    background:linear-gradient(135deg, #ffffff6b, #ffffff);
    text-align: center;
    color: #000000;
    font-weight: bold;
    margin-top: 50px;
    line-height: 80px;
  }

    .link-mob:hover{
    position: absolute;
    display: block;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
    list-style: none;
    background:linear-gradient(135deg, #ff416d, #4e2bff);
    text-align: center;
    color: #000000;
    margin-top: 50px;
    line-height: 80px;
    font-weight: bold;
  }

  .Home,.About,.Contact,.Skills,.Project{
      text-decoration: none !important;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 8px 160px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px
  }

    .Home:hover,.About:hover,.Contact:hover,.Skills:hover,.Project:hover{
    background-color: #ffffff;
  }

}