.project {
  position: relative;
  width: 100%;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
}

.project-content {
  position: relative;
  z-index: 10; 
  text-align: center;
  padding: 20px;
}

.projects-grid {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  overflow-y: auto; 
  height: 80vh; 
  padding-right: 10px;
}


