.service {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Fullscreen Video Background */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}