.skills {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Fullscreen Video Background */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}


/* Animated HR line */
.animated-line {
  height: 6px;
  border: none;
  background: #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

/* Inside fill */
.animated-line::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 0%;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  border-radius: inherit;
  animation: fill 2s forwards;
}

/* Animation keyframe */
@keyframes fill {
  from {
    width:0% ;
  }
  to {
    width: var(--percent);
  }
}
